{%extends "layout.html"%}
{%block content%}
<style>
    .cities {
        background-color: White;
        color: black;
        margin: 0px;
        padding: 0px;
        font-family: Algerian;
    }
</style>

    <h1>About page</h1>
    <div class="cities">

        <p>I am Mohit kumar swain who became god after achieving rinnegan. So I started this blog to write about my rinnegan
        powers. The power includes shinra tensei, susanoo, chibaku tensei and yin yang jutsu.xzkcndjkvdjkzdjk jkzdbcbjzk
            hzduczskczs kjzczs czjkcszkcnszszbncszk kjszbkjzs  zsckjshzdv kjfcbbekbaes cawkjaw dawkaw cawkcailcjiaec acka akwa
            aw dwaudwajkdaw
        </p>
    </div>

{%endblock content%}